<!DOCTYPE html>
<html lang="en">
<head>
      {{- partial "head.html" . -}}
</head>
{{- partial "header.html" . -}}
<script src="https://d3js.org/d3.v4.js"></script>
<body>

<div class="container text-center">
  <h1> WORK IN PRGRESS</h1>
<h1>Skills and Experience</h1>
<p> An alternate take on a Resume<p></p>
</div>

Underlying theory:
<p> There are four big pillars of domains (top 25% of world). This could be things you have the most experience in/ way to best add value to the world. This creates a unique mix of capabilities to add value to the world. Roughly - it fulfils (i) Differentiated enough to be considered good enough professionally (Ii) The world will pay me for it</p>
<p>Beneath these, there are X supporting blocks (above average, top 50%). These could be hobbies/ passion projects. ROughly- (i) I am above average with a good amount of certainty, (ii) Can hold intelligent and engaging conversations on this at my discretion, (iii) not easily paid for it, whether due to the nature of the work, or lack of formal capability.  </p>
<p>Finally, there are certain areas that i Need to improve myself in, to be above average. Roughly (i) weaknesses i am aware of, (ii) useful, complementary and desirable things</p>

<p> On click, square/ rectangle flips over with details</p>
<br>
<table>
  <tr>
    <th>Domain</th>
    <th>Category</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Sustainability</td>
    <td>Big four</td>
    <td>Masters degree in sustainability | life cycle analysis | systems thinking</td>
  </tr>
  <tr>
    <td>Strategy</td>
    <td>Big four </td>
    <td>Strategy cascde| adjacencies in senior stakeholder management|</td>
  </tr>
  <tr>
    <td>Analysis/ research</td>
    <td>Big four </td>
    <td>| complex issues | Systems thinking | Hypotheses for strategy</td>
  </tr>
  <tr>
    <td>Digital</td>
    <td>Big four </td>
    <td>R, excel, HTML, D3(?)</td>
  </tr>
  <tr>
    <td>Running, music, cooking, cycling?, hydroponics? </td>
    <td>Small rocks</td>
    <td>---</td>
  </tr>
  <tr>
    <td>Languages :( </td>
    <td>Below average</td>
    <td>---</td>
  </tr>
</table>

<br>

<!-- D3 Venn Diagram-->
<script src="/js/venn.js"></script>

 
<div id="container">
<h4> Skill Map</h4>
<p>Source library: <a href="http://www.benfrederickson.com/better-venn-diagrams/">Ben Federickson</a></p>
<p>WIP: Hover for details</p>

<div id="venn_one"></div> 
  <!--//bl.ocks.org/bessiec/986e971203b4b8ddc56d3d165599f9d0 -->
  <!-- https://buhrmann.github.io/ -->
  <!-- https://github.com/benfred/venn.js-->
 
<script  src="/js/CV_Venn.js"></script> 

<style>
  .venntooltip {
  font-size : 10px;
  position: absolute;
  text-align: center;
  width: 128px;
  height: 85px;
  background: #333;
  color: #fff;
  padding: 2px;  
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}
</style>
</div>
</body>





<!--SVG trial -->
<!-- <h4>Vanilla SVG trial</h4>
<svg width="400", height="60">
<circle cx="90" cy="25" r="25" fill="green"></circle>
<style>

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}
</style> -->

<!--D3 trial -->
 <!--
<h4>D3 Trial</h4>
<div id="lesmis"></div>
<div id="chart-area"></div>
<script  src="/js/network.js"></script>
<script  src="/js/network6.js"></script> 
-->

<!-- Footer -->
<footer class="container-fluid text-center">
  {{- partial "footer.html" . -}}
 </footer>
 </body>
 </html>
 

<!-- 

<p> Life Stack Map </p>
  <div id="lifestack"></div>
  <script  src="/js/lifestack.js"></script>
<div id="theSVG"></div>
<script  src="/js/network2.js"></script>
<div id="my_dataviz"></div>
<script  src="/js/network3.js"></script>
<script  src="/js/network5.js"></script>

<div id="my_dataviz2"></div>


<div id="my_datavizzz"></div>

<div id="my_dataviznetwork"></div>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
-->