<!DOCTYPE html>
<html lang="en">
<head>
      {{- partial "head.html" . -}}
</head>

<body>
{{- partial "header.html" . -}}

<link rel="stylesheet" href="/css/about.css"/>


<div class="container text-center">
  <h1>About Me</h1>
  </div>
<!-- start about me -->
  <div class="container aboutme">
		<div class="row">
				<div class="col-md-6 text-right">
        <img src="/img/me.jpg" alt="WJpic" class="myimg" height="300" align="right">
        </div>
				<div class="col-md-6 text-left">
        <h3>The Person</h3>
				<p>I'm a <a href="https://www.makwaijun.com/blog/post4/">confused Singaporean</a> striving to learn widely and apply deeply. Inclined to the former, struggling with the latter. Theory is great but <b>skin-in-the-game</b> is better. 
        I stray away from viewing the world in <span class="whitetext">black or white</span> . <span class="graytext">Living in the gray</span> sits right with me. To stay sane, being principled is my guiding light in a fog of ambiguity.
        <p> I consider myself a generalist, with the ambition to be above average in a unique mix of domains. </p>
        <p> You can find me feeding on a diet of current affairs, general knowledge, memes and reddit.</p>
       <h3>The Site</h3>
        <p> This personal (web) project aims to be a node of interconnecting thoughts and interests. Part diary, part time capsule, part contemplation.</p>
        <br>
				</div>
			
			<!-- end row about -->
		</div>
		<!-- end container about -->
  </div>
  <!-- elements adapted from https://codepen.io/shvvffle/pen/bwpAEm.   thank you! -->

<!-- Footer -->
  <footer class="container-fluid text-center">
 {{- partial "footer.html" . -}}
</footer>
</body>
</html>