<html>
<head>
      {{- partial "head.html" . -}}
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/index.css">
</head>
 
 <body>
{{- partial "header.html" . -}}

<div class="container">
    <div class="indextitle">
        <h1>Introspections in Bytes</h1>
        <h2>Welcome to Wai Jun's Website</h2>
    </div>

    <div class="indexsections">
        <div class="indexsection">
            <a href="about">Profile</a>
            <p>About me</p>
        </div>

        <div class="indexsection">
            <a href="blog">Thought Journal</a>
            <p>Personal thoughts and reflections</p>
        </div>

        <div class="indexsection">
            <a href="poetry">Poetry</a>
            <p>Creative outlet</p>
        </div>

        <div class="indexsection">
            <a href="projects">Projects</a>
            <p>Ongoing Activities</p>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
 {{- partial "footer.html" . -}}
</footer>
</html>


