<html>
<head>
      {{- partial "head.html" . -}}
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="styles.css">
      <link rel="stylesheet" href="{{ "index.css" | relURL }}">
</head>
 
 <body>
{{- partial "header.html" . -}}

<div class="container">
    <div class="indextitle">
        <h1>Introspections in Bytes</h1>
    </div>

    <div class="indexsections">
        <div class="indexsection">
            <h2>Profile</h2>
            <p>About Me</p>
            <a href="about">Read More</a>
        </div>

        <div class="indexsection">
            <h2>Thought Journal</h2>
            <p>Personal thoughts and reflections.</p>
            <a href="blog">Read More</a>
        </div>

        <div class="indexsection">
            <h2>Poetry</h2>
            <p>Creative Outlet.</p>
            <a href="poetry">Read More</a>
        </div>

        <div class="indexsection">
            <h2>Projects</h2>
            <p>Ongoing Activities.</p>
            <a href="projects">Read More</a>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
 {{- partial "footer.html" . -}}
</footer>
</html>


